{namespace n=Tx_News_ViewHelpers}


<f:if condition="{news}">
	<ul>
	  <f:for each="{news}" as="newsItem">
	 	<f:cycle values="{0: 'zebra-odd', 1: 'zebra-even'}" as="cycle">
    	
			<li class="span4 inner-news-teaser {cycle}">

				<n:link newsItem="{newsItem}" settings="{settings}">
				<span class="muted">
					<n:format.date format="%d. %B">{newsItem.datetime}</n:format.date>
				</span>
				<span>
					<f:format.crop maxCharacters="75" append="&nbsp;...">{newsItem.title}</f:format.crop>
				</span>
				<span class="news-list-arrow">
				</span>
				</n:link>
				
			</li>
  		</f:cycle>
	  </f:for>
	</ul>
</f:if>