<h4>&laquo;Ein Horizont, breiter als 1024px&raquo</h4>
<p>Identitas AG entwickelt und betreibt branchenspezifische, datenbankbasierte informatikl&ouml;sungen zum Zweck der Identifikation und der R&uuml;ckverfolgbarkeit von Tieren und Nahrungsmitteln. Wir besch&auml;ftigen in Bern B&uuml;mplitz 65 Mitarbeitende.</p>
<p>Wir suchen</p>
<h1 class="karriere">MitarbeiterInnen Help Desk</br><span class="textklein">(deutsch, franz&ouml;sisch, italienisch)</span></h1>
<p>zum Ausbau unseres Help Desk Teams</p>
<h2>Ihre Aufgabe</h2>
<p>Text</p>
<h2>Ihre Qualifikation</h2>
<p>Text</p>
<h2>Wir bieten Ihnen</h2>
<p>Text</p>
<h2>Haben wir Ihr Interesse geweckt?</h2>
<p>Wenn es Ihnen Spass macht, in einer teamorientierten Umgebung Kunden und Beh&ouml;rden zu beraten und an L&ouml;sungen mitzuwirken, dann senden Sie uns Ihre vollst&auml;ndigen Bewerbungsunterlagen an untenstehende Adresse.<br />Telefonische Ausk&uuml;nfte erteilt Ihnen gerne Frau Serina Z&uuml;rcher, Stv. Leiterin Help Desk.</p>
<p>Stellenbeschreibung unter <a href="http://www.identitas.ch">www.identitas.ch</a></p>