<!DOCTYPE html>
<html  lang="de">
    <head>
        <meta  charset="utf-8" />
        <title>web.ausruf.ch : Portfolio von Martin Pfister</title>

       <link rel="stylesheet" href="../css/style.css" type="text/css" media="screen, projection" />
       <link rel="stylesheet" href="../css/layout.css" type="text/css" media="screen, projection" />
       <link rel="stylesheet" href="../css/grid.css" type="text/css" media="screen, projection" />

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

    </head>
    <body>
    <header>
	    <hgroup>
	    	  <a href="http://nataliaganzoni.ausruf.ch" title="Zurück zur Startseite"><h1>natalia ganzoni</h1></a>
	    </hgroup>
	</header>
	    <nav>
	    	<ul>
	    	<li><a href="#galerie" title="Galerie">galerie</a></li>
	    	<li><a href="#contact" title="Kontakt">kontakt</a></li>
			</ul>
	    </nav>

    	<div id="content" class="clearfix">
    	</div>
    </body>
</html>