/*********************************************
    Media query examples
**********************************************/

/*@media #{$small-up} { }
@media #{$small-only} { }

@media #{$medium-up} { }
@media #{$medium-only} { }

@media #{$large-up} { }
@media #{$large-only} { }

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }*/

/*********************************************
    Header area
**********************************************/
#logo {
    width: 100%;
    padding: 0.5rem 0;
    box-sizing: border-box;
    display: block;
    img {
        max-width: 100%;
        height: auto;
    }
}

/*********************************************
    Menus
**********************************************/
@media #{$medium-up} {
    nav.language {
        float: right;
    }
}

/*********************************************
    Slider
**********************************************/
.slide span {
    color:#fff;
    font-weight: $font-weight-bold;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;

}

/*********************************************
    Forms & form elements
**********************************************/
input[type="submit"] {
    @extend .button;
}
input[type="reset"] {
    @extend .button;
    @extend .alert;
}

/*********************************************
    Footer
**********************************************/
footer.row {
    margin-top: 1rem;
    opacity: 0.5;
    * { font-size: 0.8rem; }
}

ul.address { list-style-type: none; }
